# ÂàóÂá∫ÊâÄÊúâÁöÑÂ†±Âëä

In [2]:
import pandas as pd

In [3]:
hm_NASDAQ_divided = pd.read_csv('../output_dataset/handmade_features_NASDAQ_divided.csv')
hm_NYSE_divided = pd.read_csv('../output_dataset/handmade_features_NYSE_divided.csv')

In [4]:
report_all = pd.concat([hm_NASDAQ_divided, hm_NYSE_divided], axis=0)
report_all = report_all[["folder_name", "exchange", "ticker", "year1",	"year2"]]
report_all.sort_values(by=["folder_name", "exchange", "ticker", "year1", "year2"], inplace=True)

In [5]:
report_all.to_csv('../output_dataset/report_all.csv', index=False)
len(report_all)

6098

# ÁÆóÂá∫ÊØè‰∏ÄÂπ¥ÁöÑÂ†±ÂëäÊï∏Èáè

In [8]:
import pandas as pd

In [9]:
report_all = pd.read_csv('../output_dataset/report_all.csv')

In [17]:
# Calculate the number of report in each year
report_all['year1'] = report_all['year1'].astype(str)
groupby_year = report_all.groupby(['year1']).size().reset_index(name='count')
groupby_year_wide = groupby_year.set_index('year1').T
groupby_year_wide.to_csv('../output_dataset/groupby_year.csv', index=False)

## Merge score and report

In [45]:
import pandas as pd
import numpy as np

In [46]:
report_all = pd.read_csv('../output_dataset/report_all.csv')
common_score_ESG_all = pd.read_csv('../CSR_score/common_score_ESG_all.csv')

In [47]:
# drop those rows that ticker in common_score_ESG_all not in report_all
common_ticker = set(report_all['ticker']) & set(common_score_ESG_all['ticker'])
common_score_ESG_with_report = common_score_ESG_all[common_score_ESG_all['ticker'].isin(common_ticker)]
report_with_score = report_all[report_all['ticker'].isin(common_ticker)]

In [48]:
# Á¢∫‰øù ticker Ê†ºÂºè‰∏ÄËá¥ÔºàÂéªÈô§Á©∫Ê†º & ËΩâÂ§ßÂØ´Ôºâ
report_all['ticker'] = report_all['ticker'].str.strip().str.upper()
common_score_ESG_all['ticker'] = common_score_ESG_all['ticker'].str.strip().str.upper()

# Êää year1 Âíå year2 Â¶ÇÊûú‰∏çÁÇ∫Á©∫Â∞±ËΩâÊàêÊï¥Êï∏Ê†ºÂºè
report_all['year1'] = report_all['year1'].replace('', np.nan).astype(float).astype('Int64')
report_all['year2'] = report_all['year2'].replace('', np.nan).astype(float).astype('Int64')

# ÊâæÂá∫ missing_tickers
missing_tickers = set(report_all['ticker'].unique()) - set(common_score_ESG_all['ticker'].unique())
print("\nüö® ÁÑ°Ê≥ïÂú® common_score_ESG_all ‰∏≠ÊâæÂà∞ÁöÑ ticker:", missing_tickers)

# ÁßªÈô§ `missing_tickers`ÔºåÂè™‰øùÁïô common_score_ESG_all ÊúâÁöÑ ticker
filtered_report_all = report_all[~report_all['ticker'].isin(missing_tickers)].copy()
filtered_report_all

üö® ÁÑ°Ê≥ïÂú® common_score_ESG_all ‰∏≠ÊâæÂà∞ÁöÑ ticker: {'LOGI', 'SBLK', 'ARNC', 'AHS', 'AAR', 'KEM', 'PANL', 'WF', 'VIST', 'BF', 'PBR', 'DPH', 'MYL', 'GTI', 'SUPV', 'DBRG', 'GSH', 'BVN', 'KB', 'LAZ', 'TSLA', 'CLB', 'DOO', 'CSIQ', 'HASI', 'ALXN', 'MNR', 'SNE', 'NGLS', 'CIT', 'MIC', 'ACH', 'UTX', 'INFO', 'ZMH', 'CUB', 'AZ', 'HDB', 'TETY', 'AMRX', 'RCI', 'MEOH', 'ABEV', 'RDS', 'TVE', 'AU', 'ENIC', 'HON', 'CHT', 'KIM', 'WYND', 'LBTYA', 'LXK', 'PEAK', 'TSE', 'AZPN', 'SHEL', 'CTL', 'PETD', 'IBA', 'ZNH', 'CHL', 'VALE', 'SALT', 'PSA', 'GPS', 'TORM', 'CPIX', 'UUUU', 'DLGS', 'GAM', 'SQM', 'VLRS', 'NHS', 'GOOG', 'WNFM', 'SERV', 'LIN', 'GLOP', 'SGS', 'QVCC', 'CWEN', 'E', 'RELX', 'CINR', 'CRGY', 'LPL', 'KKR', 'Z', 'COLD', 'HPQ', 'JEC', 'FCAU', 'ERIC', 'CRD', 'DBD', 'SPXC', 'LND', 'FMX', 'KNOP', 'FS', 'AGII', 'NBL', 'DPS', 'NVS', 'HFC', 'CMN', 'DNR', 'SYT', 'RDY', 'CAMP', 'SPP', 'TAK', 'SAFM'}

          folder_name exchange ticker  year1  year2
0     NASDAQ_AAL_2007   NASDAQ    AAL   2007   <NA>
1     NASDAQ_AAL_2008   NASDAQ    AAL   2008   <NA>
2     NASDAQ_AAL_2009   NASDAQ    AAL   2009   <NA>
3     NASDAQ_AAL_2011   NASDAQ    AAL   2011   <NA>
4     NASDAQ_AAL_2012   NASDAQ    AAL   2012   <NA>
...               ...      ...    ...    ...    ...
6070    NYSE_ZBH_2020     NYSE    ZBH   2020   <NA>
6071    NYSE_ZBH_2021     NYSE    ZBH   2021   <NA>
6072    NYSE_ZEN_2019     NYSE    ZEN   2019   <NA>
6073    NYSE_ZEN_2020     NYSE    ZEN   2020   <NA>
6074    NYSE_ZEN_2021     NYSE    ZEN   2021   <NA>

[5461 rows x 5 columns]

In [49]:
# ËΩâÊèõ common_score ÁÇ∫ long format
common_score_long = common_score_ESG_all.melt(id_vars=['ticker'], var_name='year', value_name='GWscore')
common_score_long['year'] = common_score_long['year'].astype(int)  # Á¢∫‰øù year ÊòØ int

# Âêà‰Ωµ year1 ÁöÑ GWscore
filtered_report_all = report_all.merge(
    common_score_long, left_on=['ticker', 'year1'], right_on=['ticker', 'year'], how='left'
)
filtered_report_all.rename(columns={'GWscore': 'GWscore_year1'}, inplace=True)
filtered_report_all.drop(columns=['year'], inplace=True)

# Âêà‰Ωµ year2 ÁöÑ GWscore
filtered_report_all = filtered_report_all.merge(
    common_score_long, left_on=['ticker', 'year2'], right_on=['ticker', 'year'], how='left'
)
filtered_report_all.rename(columns={'GWscore': 'GWscore_year2'}, inplace=True)
filtered_report_all.drop(columns=['year'], inplace=True)

# Ëã• year2 ÊòØÁ©∫ÔºåÂâá‰ΩøÁî® year1 ÂàÜÊï∏ÔºõÂê¶ÂâáÂèñÂÖ©ËÄÖÂπ≥Âùá
filtered_report_all['GWscore_final'] = filtered_report_all.apply(
    lambda row: row['GWscore_year1'] if pd.isna(row['year2']) or row['year2'] == '' 
    else (row['GWscore_year1'] + row['GWscore_year2']) / 2,
    axis=1
)

filtered_report_all.rename(columns={'GWscore_final': 'greenwash_score'}, inplace=True)
filtered_report_all.drop(columns=['GWscore_year1', 'GWscore_year2'], inplace=True)
filtered_report_all.dropna(subset=['greenwash_score'], inplace=True)

In [51]:
filtered_report_all.to_csv('../output_dataset/report_all_with_score.csv', index=False)

# ÁÆóÂá∫ÊØè‰∏ÄÂÆ∂ÂÖ¨Âè∏ÁöÑ GW score Áµ±Ë®àÈáè

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
report_all = pd.read_csv('../output_dataset/report_all.csv')
common_score_ESG_all = pd.read_csv('../CSR_score/common_score_ESG_all.csv')

In [ ]:
# drop those rows that ticker in common_score_ESG_all not in report_all
common_ticker = set(report_all['ticker']) & set(common_score_ESG_all['ticker'])
common_score_ESG_with_report = common_score_ESG_all[common_score_ESG_all['ticker'].isin(common_ticker)]
report_with_score = report_all[report_all['ticker'].isin(common_ticker)]

In [65]:
# find the first year of each ticker
ticker_start = report_with_score['ticker'].unique()
ticker_start = pd.DataFrame(ticker_start, columns=['ticker'])
ticker_start['year1'] = report_with_score.groupby('ticker')['year1'].min().values
ticker_start.to_csv('../output_dataset/ticker_start.csv', index=False)

In [61]:
common_score_ESG_with_report = common_score_ESG_with_report.replace(0, np.nan)
common_score_ESG_with_report = common_score_ESG_with_report.set_index('ticker')

ticker_start = ticker_start.set_index('ticker')
ticker_start['year1'] = ticker_start['year1'].astype(str)

In [64]:
std_result = {}

for ticker in ticker_start.index:
    start_year = ticker_start.loc[ticker, 'year1']

    all_years = common_score_ESG_with_report.columns
    valid_years = [y for y in all_years if y >= start_year]
    scores = common_score_ESG_with_report.loc[ticker, valid_years].dropna()
    std = scores.std()
    std_result[ticker] = std

std_result = pd.DataFrame.from_dict(std_result, orient='index', columns=['std']).reset_index()
std_result.columns = ['ticker', 'std']
std_result.to_csv('../output_dataset/std_result.csv', index=False)

Êúâ‰∏Ä‰∫õ‰ºÅÊ•≠Ê≤íÊúâstdÔºåÊòØÂõ†ÁÇ∫ÊúâÂ†±ÂëäÁöÑËµ∑ÂßãÂπ¥‰ªΩÈñãÂßãÊ≤íÊúâÂàÜÊï∏

# Describe of GW score std

In [66]:
import pandas as pd
import numpy as np

In [67]:
std_result = pd.read_csv('../output_dataset/std_result.csv')

In [68]:
std_result['std'].describe()

count    999.000000
mean       6.412693
std        4.310507
min        0.173531
25%        3.647040
50%        5.544497
75%        7.858265
max       38.497985
Name: std, dtype: float64